<div class="container">
    <div class="row around-xs">
        <div class="col-xs-2">
            <div class="box">
                <button mat-raised-button color="primary" (click)="searchSeasson('S01')"> Temporada 1</button>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box">
                <button mat-raised-button class="material-button-custom-color" (click)="searchSeasson('S02')"> Temporada 2</button>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box">
                <button mat-raised-button color="primary" (click)="searchSeasson('S03')"> Temporada 3</button>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box">
                <button mat-raised-button color="primary" (click)="searchSeasson('S04')"> Temporada 4</button>
            </div>
        </div>
    </div>

</div>

<div class="episode-grid">
    <app-episode *ngFor="let episode of episodeList" [episode]="episode"></app-episode>
</div>